<template>
  <div class="login-form">
    <div class="form-header">User Name</div>
    <div>
      <input type="text" class="form-control" v-model="username" />
    </div>
    <div class="form-header">Password</div>
    <div>
      <input type="password" class="form-control" v-model="password" />
    </div>

    <div class="btn-row">
      <button class="btn" @click="login">OK</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    login() {
      if (this.username && this.password) {
        const data = JSON.stringify({
          name: this.username,
          time: new Date().getTime(),
        });
      } else {
      }
    },
  },
};
</script>

<style></style>
